body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-section{
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}
.container {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.grid-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tile {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  margin: 1px;
}

.blue {
  background-color: #167be0;
}

.red {
  background-color: #f73f3f;
}

.tile:hover {
  opacity: 0.8;
}

.tile:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff6600;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.score {
  margin-left: 6px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width:600px){
  .tile {
    width: 20px;
    height: 20px;
  }
  button{
    margin-right: 8px;
    padding: 8px 14px;
  }
  .score{
    font-size: 20px;
    margin-left: 3px;
  }
}